@page "/"

@inject BlazorClient.Services.Job.IJobService jobService

<h3>Welcome to the voice mail system</h3>

@code { 


    //protected override async Task OnInitializedAsync()
    //{
    //    var result = await jobService.Test();
    //}

}
