name: Deploy Blazor Client

on:
  workflow_dispatch:
  push:
    paths:
      - 'src/WebApp/**'
      - .github/workflows/deploy-blazor.yml

jobs:
  build-blazor-server:
    runs-on: ubuntu-latest
  
    steps:
      - uses: actions/checkout@v2
      
      - name: Setup Dotnet 3.1.x
        uses: actions/setup-dotnet@v1
        with:
          dotnet-version: '3.1.x'
          
      - name: 'Run dotnet build'
        shell: bash
        run: |
          dotnet build ./src/WebApp/BlazorClient/BlazorClient.csproj -c Release -o ./output  
          
      - name: Upload Build Artifact
        uses: actions/upload-artifact@v2.2.0
        with:        
          name: blazor   
          path: ./output/*        
          retention-days: 7

  deploy-blazor-server:
    runs-on: ubuntu-latest          
    needs: build-blazor-server
    
    steps:
      - name: Download a Build Artifact
        uses: actions/download-artifact@v2.0.5
        with:
          name: blazor              
          
      - name: Azure Login
        uses: Azure/login@v1.1
        with:          
          creds: ${{ secrets.SP_AZURE_CREDENTIALS }}          
          enable-AzPSSession: false

      - name: get blazor name
        run: |
         export WEB_NAME=$(az resource list --tag 'appname=wedtier-speech-demo-api' --query [0].name)
         echo "::set-env name=WEB_NAME::$WEB_NAME"
         
      - name: Azure WebApp
        uses: Azure/webapps-deploy@v2
        with:          
          app-name: ${{ env.WEB_NAME }}          
  
      - name: Azure logout
        run: |
          az logout
