name: Deploy Job Api

on:
  workflow_dispatch:  
  push:
    branches:
      - v2
    paths:
      - 'src/Services/Job.Api/**'
      - .github/workflows/deploy-job-api.yml

env:
  RESOURCE_GROUP: speech-demo-qa-rg
  JOB_API_NAME: job-api-4cmtfi77xas52

jobs:
  build-blazor-server:
    runs-on: ubuntu-latest
  
    steps:
      - uses: actions/checkout@v2
                
      - name: Azure Login
        uses: Azure/login@v1.1
        with:          
          creds: ${{ secrets.SP_AZURE_CREDENTIALS }}          
          enable-AzPSSession: false
          
      - name: getDirectoryFiles
        run: |
          ls src/Services
          ls src/Services/Job.Api
          
      - name: Building job api
        uses: azure/appservice-build@v2
        with:
          source-directory: src/Services/Job.Api/Job.Api.csproj
          output-directory: output

      - name: Deploying job api to Azure
        uses: azure/webapps-deploy@v1
        with:
          app-name: ${{ env.JOB_API_NAME }}
          package:  output
          
      - name: Azure logout
        run: |
          az logout
