name: Deploy Functions

on:
  push:

jobs:
  deploy-azure-functions:
    runs-on: ubuntu-latest
    
    steps:
      - uses: actions/checkout@v2

      - name: Azure Login
        uses: Azure/login@v1.1
        with:          
          creds: ${{ secrets.SP_AZURE_CREDENTIALS }}          
          enable-AzPSSession: false

      - name: Setup Dotnet 3.1.x
        uses: actions/setup-dotnet@v1
        with:
          dotnet-version: '3.1.x'

      - name: 'Run dotnet build'
        shell: bash
        run: |
          dotnet build ./src/Functions/CognitiveApi/CognitiveApi.csproj -c Release -o ./output

      - name: Upload Build Artifact
        uses: actions/upload-artifact@v2.2.0
        with:        
          name: function        
          path: ./output/*        
          retention-days: 7
          
      - name: get azure function name
        run: |
         export FUNC_NAME=$(az resource list --tag 'appname=function-speech-demo-api' --query [0].name)
         echo "::set-env name=FUNC_NAME::$FUNC_NAME"
         
      - name: output variable
        run: echo $FUNC_NAME
        
      - name: Azure Functions Action
        uses: Azure/functions-action@v1.1.5
        with:
          # Name of the Azure Function App
          app-name: $FUNC_NAME
