name: Deploy Blazor Client

on:
  workflow_dispatch:  
  push:
    branches:
      - main
    paths:
      - 'src/WebApp/**'
      - .github/workflows/deploy-blazor.yml

env:
  RESOURCE_GROUP: speech-demo-rg
  WEB_APP_NAME: front-end-demo-speecheydjiqdi56wcs

jobs:
  build-blazor-server:
    runs-on: ubuntu-latest
  
    steps:
      - uses: actions/checkout@v2
                
      - name: Azure Login
        uses: Azure/login@v1.1
        with:          
          creds: ${{ secrets.SP_AZURE_CREDENTIALS }}          
          enable-AzPSSession: false

      - name: Building web app
        uses: azure/appservice-build@v2

      - name: Deploying web app to Azure
        uses: azure/webapps-deploy@v1
        with:
          app-name: ${{ env.WEB_APP_NAME }}
          
      - name: Azure logout
        run: |
          az logout
